.home {
    display: flex;
    flex-direction: column;
}

// .sidebar-icon {
    
// }

.side-bar-and-video-index {
    display: flex;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 5em;
    height: 100vh;
    background-color: #212121;
    z-index: 2;
}