.nav-bar-div {
    height: 64px
}

.search-wrapper {
    display: flex;
    max-width: 1096px;
    align-items: center;
    flex-direction: column;
}

.vid-row {
    display: flex;
    margin-top: 20px;


    .thumbnail-wrapper {
        width: 360px;
        height: 202px;  
        position: relative;
        overflow: hidden;
        background-color: black;
    }

    .thumbnail {
        width: auto;
        height: 100%;
        object-fit: contain;
    }

    .info{
        display: flex;
        flex-direction: column;
        text-align: left;
        margin-left: 15px;

        .title {
            font-size: 20px;
            margin-top: 5px;
            margin-bottom: 10px;
        }

        .views-and-date {
            color: rgb(165, 165, 165);
            font-size: 13px;
            margin-bottom: 15px;
        }

        .avatar-and-username {
            display: flex;
            align-items: center;
            margin-bottom: 15px;

            .username{
                margin-left: 10px;
                color: rgb(165, 165, 165);
                font-size: 14px;
            }
        }

        .description {
            color: rgb(165, 165, 165);
            font-size: 14px;
            width: 721px;
        }
    }
}

.no-results{
    margin: 20px;
}

