.item {
    margin-bottom: 20px;
    width: 18vw;
    cursor: pointer;

    .thumbnail-wrapper{
        width: 18vw;
        height: calc((18vw* 202) / 360);
    }
    
    .item-thumbnail {
        height: auto;
        width: 100%;
    }

    .item-info {
        display: flex;
        margin-top: 10px;
    }

    .item-text {
        margin-left: 20px;
    }

    .item-title {
        font-size: 16px;
        color: white; 
        font-weight: bold;
        margin-bottom: 10px;
    }

    .item-uploader {
        font-size: 15px;
        color: rgb(175, 175, 175); 
    }

    .item-avatar {
        height: 30px;
        width: 30px;
    }

    .item-delete {
        display: flex;
        justify-self: start;
    }
}

@media only screen and (min-width: 0px) and (max-width: 2000px) {
    .item {
        width: 22vw;

        .thumbnail-wrapper{
            width: 22vw;
            height: calc((22vw* 202) / 360);
        }
    }
}

@media only screen and (min-width: 0px) and (max-width: 1140px) {
    .item {
        width: 29vw;

        .thumbnail-wrapper{
            width: 29vw;
            height: calc((29vw* 202) / 360);
        }
    }
}