.index {
    padding: 2em 0 0 2em;
    display: flex;
    justify-content: center;
    
    .video-index {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        background-size: cover;
    }

    .video-index-item {
        margin: 10px;
    }
}