.index {
    display: flex;
    justify-content: center;
    width: 95vw;
    
    .video-index {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        background-size: cover;
    }

    .video-index-item {
        margin: 10px;
    }
}

// @media only screen and (max-width: ){
//     .index {

//     }
// }