.video-upload-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    color: black;
    padding: 50px;
    background-color: rgb(221, 221, 221);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
}

.upload-title, .upload-description{
    width: 100%
}

.upload-video, .upload-thumbnail{
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.upload-errors{
    color: rgb(218, 0, 0);
    margin: 10px;
}

.attachment-errors{
    color: rgb(218, 0, 0);
    margin: 10px;
}

