.show-body {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.player-and-comments {
    width: 69vw;
}

.show-video-wrapper {
    display: block;
    width: 100%;
    // height: 720px;
}

.show-recommendations {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 20%;
    margin-left: 30px;

    .index {
        padding-top: 0px;

        .video-index {
            display: flex;
            flex-direction: column;
            align-items: center;
            // width: 10%;
            padding-bottom: 0px;
            background-size: none; 
            justify-content: none;
            margin: 0px;
        }
        .video-index-item {
            margin: 0px;
        }
    }
}



.show-info {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    border-bottom: 1px rgba(141, 141, 141, 0.301) solid;
}

.show-title {
    font-size: 25px;
    font-weight: 400 ;
    margin-top: 25px;
    margin-bottom: 20px;
}

.views-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(160, 160, 160);
    justify-content: space-between;
}

.show-channel{
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-between;
    border-top: 1px rgba(141, 141, 141, 0.301) solid; 
}

.av-and-channel{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.show-description {
    padding-left: 55px;
}

.show-likes {
    display: flex;
    align-items: center;
    color: white;
    padding-bottom: 10px;
    border-bottom: 1px white solid;
}

.show-like-button {
    margin-right: 5px;
    // font-size: 5px !important;
}

.show-likes-count {
    margin-right: 20px;
}

.show-dislike-button {
    margin-right: 5px;
}

.show-subs {
    margin-left: 15px;

    .show-channel-name {
        font-weight: 600px;
    }
}

.comment-count {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 300px;
}

.add-comment {
    display: flex;
    flex-direction: row;
    padding-bottom: 25px;
}

.comment-input {
    -webkit-appearance: none;
    // border-width: 0px;
    border-style: none;
    border-bottom: 1px black solid;
    background-color: #181818;
    color: white;
    margin-bottom: 10px;
    width: 100%;
}

.comment-form-and-buttons {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    width: 100%;
}

.comment-buttons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.comment {
    padding-bottom: 40px;
}

.av-and-comment {
    display: flex;
    flex-direction: row;
}

.comment-column {
    padding-left: 10px;
}

.commenter-and-date {
    display: flex;
    flex-direction: row;
    padding-bottom: 7px;
}

.comment-date {
    color: grey;
    font-size: 13px;
    padding-left: 10px;

}

.comment-and-delete{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media only screen and (min-width: 0px) and (max-width: 1000px) {
    
    .show-body{
        display: flex;
        min-width: 100%;    
        flex-direction: column;
        align-items: center;
    }


    .player-and-comments {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
    
        .show-info-and-com{
            width: 100%
        }
    
    }

    .show-recommendations{
        width: 100%;

        .video-index2 {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            margin-left: 35px;
        }
        
        .item2{
            display: flex;
            width: 100%;
        }
    }
    

}